/** @format */

/* gray black-300 */



:root {
  --brand-primary: #1a237e;
  --brand-accent: #00acc1;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 20px; /* Base size */
  line-height: 1.6;
  background-color: #ffffff;
  height: 100vh;
  /* overflow-y: hidden; */
}
/* Add to your /css/custom.css */
.modal-backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 0;
}
#logout-modal .s-modal--dialog {
  position: relative;
  z-index: 1;
}

/* Gradient background */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient {
  background: linear-gradient(-45deg, #1e3a8a, #2563eb, #3b82f6, #60a5fa);
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.flex-grow-1 {
  flex-grow: 1;
}
.fixed-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

/* Hide element on large screen */
@media screen and (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-flex {
    display: flex !important;
  }
}

.fc-primary {
  color: var(--brand-primary);
}

.s-btn__primary {
  background-color: var(--brand-primary);
  color: #ffffff;
  border: none;
}
#ffffff .s-btn__primary:hover {
  background-color: #0d1b5a;
}

.g16 {
  gap: 16px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* responsive typograpical */
@media (max-width: 768px) {
  body {
    font-size: 15px;
  }
  h1 {
    font-size: 1.5rem;
  }

  .sidebar {
    width: 100%;
    order: 1;
  }

  main {
    order: 2;
  }
}
.list-unstyled {
  list-style: none;
}
@media (min-width: 768px) {
  .w75-md {
    width: 75%;
  }
  .footer-links {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

/* Styles for medium devices (like tablets) with screen widths between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 1.8rem;
  }
}

@media (min-width: 1025px) {
  body {
    font-size: 17px;
  }

  h1 {
    font-size: 2rem;
  }
   .w50-lg {
    width: 50%;
  }
}

.bs-sm {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
/* Force consistent width & box sizing */
.s-input,
.s-btn {
  box-sizing: border-box;
  display: block;
}

/* .w100 {
  width: 100%;
} */

@media (min-width: 1024px) {
 
}
