/** @format */

@import "tailwindcss";


:root {
  --font-Comic: "Comic Neue", "cursive";
  --bg-color: #001f3f;
}

body {
  font-family: var(--font-Comic);
  background-color: var(--bg-color);
  color: white;
}
input {
  width: 100%;
  font-size: 18px;
  border: 0.5px solid #080808;
  padding: 0.75rem;
  margin: 5px;
  border-radius: 4px;
  outline: none;
}
::placeholder {
  color: #a7a7a7;
}

#footer-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  width: 85%;
  margin: 0 auto;
  padding: 5px 10px;
}
